@model PracticalFourteen.Domain.Entities.EmployeeModel

<form class="py-1 mb-3" id="CreateEmployeeForm">
    <h4 class="text-decoration-underline mb-4">Create Employee</h4>
    <div id="ValidationSummary" class="alert alert-danger d-none" role="alert"></div>
    <div class="row">
        <div class="col-md-3 pr-5">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label required" })
            <div class="input-group mb-2">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-3 pr-5">
            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "form-label required" })
            <div class="input-group mb-2">
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-3 pr-5">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "form-label" })
            <div class="input-group mb-2">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-2 align-self-end pb-2">
            <button type="submit" class="btn btn-outline-dark">Create</button>
        </div>
    </div>
</form>

<hr />
